{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'optimus.css' %}">
    </head>
    <body>
        <div class="app">
            <header>
              <h1>Thank you for using our System</h1>
              <p style="color:white;">This project was developed by ICT students</p>
              <p style="color:white;"> <a href="{% url "base:dashboard" %}">Go back to login</a></p>
            </header>
            <div class="tag-list">
              <div class="loop-slider" style="--duration:15951ms; --direction:normal;">
                <div class="inner">
                  <div class="tag"><span>#</span> Kenneth</div>
                  <div class="tag"><span>#</span> Carl</div>
                  <div class="tag"><span>#</span> Mike</div>
                  <div class="tag"><span>#</span> Rodel</div>
                  <div class="tag"><span>#</span> Taguro</div>
                  <!-- duplicated content -->
                  <div class="tag"><span>#</span> Kenneth</div>
                  <div class="tag"><span>#</span> Carl</div>
                  <div class="tag"><span>#</span> Mike</div>
                  <div class="tag"><span>#</span> Rodel</div>
                  <div class="tag"><span>#</span> Taguro</div>
                </div>
              </div>
              <div class="loop-slider" style="--duration:19260ms; --direction:reverse;">
                <div class="inner">
                    <div class="tag"><span>#</span> Kenneth</div>
                    <div class="tag"><span>#</span> Carl</div>
                    <div class="tag"><span>#</span> Mike</div>
                    <div class="tag"><span>#</span> Rodel</div>
                    <div class="tag"><span>#</span> Taguro</div>
                    <!-- duplicated content -->
                    <div class="tag"><span>#</span> Kenneth</div>
                    <div class="tag"><span>#</span> Carl</div>
                    <div class="tag"><span>#</span> Mike</div>
                    <div class="tag"><span>#</span> Rodel</div>
                    <div class="tag"><span>#</span> Taguro</div>
                </div>
              </div>
              <div class="loop-slider" style="--duration:10449ms; --direction:normal;">
                <div class="inner">
                    <div class="tag"><span>#</span> Kenneth</div>
                    <div class="tag"><span>#</span> Carl</div>
                    <div class="tag"><span>#</span> Mike</div>
                    <div class="tag"><span>#</span> Rodel</div>
                    <div class="tag"><span>#</span> Taguro</div>
                    <!-- duplicated content -->
                    <div class="tag"><span>#</span> Kenneth</div>
                    <div class="tag"><span>#</span> Carl</div>
                    <div class="tag"><span>#</span> Mike</div>
                    <div class="tag"><span>#</span> Rodel</div>
                    <div class="tag"><span>#</span> Taguro</div>
                </div>
              </div>
              <div class="loop-slider" style="--duration:16638ms; --direction:reverse;">
                <div class="inner">
                    <div class="tag"><span>#</span> Kenneth</div>
                    <div class="tag"><span>#</span> Carl</div>
                    <div class="tag"><span>#</span> Mike</div>
                    <div class="tag"><span>#</span> Rodel</div>
                    <div class="tag"><span>#</span> Taguro</div>
                    <!-- duplicated content -->
                    <div class="tag"><span>#</span> Kenneth</div>
                    <div class="tag"><span>#</span> Carl</div>
                    <div class="tag"><span>#</span> Mike</div>
                    <div class="tag"><span>#</span> Rodel</div>
                    <div class="tag"><span>#</span> Taguro</div>
                </div>
              </div>
              <div class="loop-slider" style="--duration:15936ms; --direction:normal;">
                <div class="inner">
                    <div class="tag"><span>#</span> Kenneth</div>
                    <div class="tag"><span>#</span> Carl</div>
                    <div class="tag"><span>#</span> Mike</div>
                    <div class="tag"><span>#</span> Rodel</div>
                    <div class="tag"><span>#</span> Taguro</div>
                    <!-- duplicated content -->
                    <div class="tag"><span>#</span> Kenneth</div>
                    <div class="tag"><span>#</span> Carl</div>
                    <div class="tag"><span>#</span> Mike</div>
                    <div class="tag"><span>#</span> Rodel</div>
                    <div class="tag"><span>#</span> Taguro</div>
                </div>
              </div>
              <div class="fade"></div>
            </div>
          </div>
    </body>
</html>